# Exercício banco de dados - Módulo 6 (Santander Coders 806)
## Integração Python

Alunos: 
- Samya de Lara Pinheiro
- Vitor Quintella  


> *Parte 2 - Database Employees*

#### Create Database

In [1]:
# read pwd file
with open('postgremdp.txt') as f:
    mdp = f.readlines()[0]

In [18]:
# test connection to database called ibge
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

conn = psycopg2.connect(
    host="localhost",
    user="postgres",
    password=mdp)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

# obtain a DB Cursor

cursor = conn.cursor()

name_Database = "Employees"

# create table statement

sqlCreateDatabase = "create database "+name_Database+";"

# create a table in PostgreSQL database

cursor.execute(sqlCreateDatabase)

cursor.close()
conn.close()
print('Base Employees criada!')

Base Employees criada!

#### Create Tables

In [19]:
# create tables
table_dept = "CREATE TABLE IF NOT EXISTS Departments(Code int primary key, Name text, Budget real)"
table_employ = "CREATE TABLE IF NOT EXISTS Employees(SSN int primary key, Name text, LastName text, Department int, FOREIGN KEY (Department) REFERENCES Departments (Code) )"

## connect
conn = psycopg2.connect(
    host="localhost",
    database="employees",
    user="postgres",
    password=mdp)
## cursor
cur = conn.cursor()

print("Criando Tabelas...")

try:
    cur.execute(table_dept)   
    conn.commit()
    cur.execute(table_employ)   
    conn.commit()
    cur.close()

except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
        print('Tabelas criadas! Conexão encerrada.')

Criando Tabelas...
Tabelas criadas! Conexão encerrada.

#### Povoando Tabelas

In [20]:
def insert_depart(_Code, _Name, _Budget):
    
    """ Insere um novo registro na tabela Departments """
    
    sql = f"INSERT INTO Departments (Code, Name, Budget) VALUES({_Code},'{_Name}','{_Budget}') ;"
    conn = None
    
    try:
        ## connect
        conn = psycopg2.connect(
            host="localhost",
            database="employees",
            user="postgres",
            password=mdp)
        ## cursor
        cur = conn.cursor()

        print("Povoando Tabela Departments...")
        # execute the INSERT statement
        cur.execute(sql)
        conn.commit()
        cur.close()

    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
    
    return print(_Code)

In [21]:
insert_depart(14, 'IT', 65000)
insert_depart(37, 'Accounting', 15000)
insert_depart(59, 'Human Resources', 240000)
insert_depart(77, 'Research', 55000)

Povoando Tabela Departments...
14
Povoando Tabela Departments...
37
Povoando Tabela Departments...
59
Povoando Tabela Departments...
77

In [28]:
# read csv for employees
import pandas as pd
employ_df = pd.read_csv('employees.csv')
employ_df

          ssn       name   lastname  department
0   123234877    Michael     Rogers          14
1   152934485      Anand  Manikutty          14
2   222364883      Carol      Smith          37
3   326587417        Joe    Stevens          37
4   332154719  Mary-Anne     Foster          14
5   332569843     George  O'Donnell          77
6   546523478       John        Doe          59
7   631231482      David      Smith          77
8   654873219     Zacary      Efron          59
9   745685214       Eric  Goldsmith          59
10  845657245  Elizabeth        Doe          14
11  845657246      Kumar      Swamy          14

In [65]:
# feed the table
## connect
conn = psycopg2.connect(
    host="localhost",
    database="employees",
    user="postgres",
    password=mdp)
## cursor
cur = conn.cursor()

# list for inserting
cols = ",".join([str(i) for i in employ_df.columns.tolist()])
print(cols)

# insert DataFrame records one by one.
for i,row in employ_df.iterrows():
    sql = "INSERT INTO Employees (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    print('Inserida linha ' + str(i))
    cur.execute(sql, tuple(row))
    conn.commit()

cur.close()
conn.close()
print('Tabela Employees povoada! Conexão encerrada.')

ssn,name,lastname,department
Inserida linha 0
Inserida linha 1
Inserida linha 2
Inserida linha 3
Inserida linha 4
Inserida linha 5
Inserida linha 6
Inserida linha 7
Inserida linha 8
Inserida linha 9
Inserida linha 10
Inserida linha 11
Tabela Employees povoada! Conexão encerrada.

In [ ]:
# FIM